@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../Imagens/wallpaper001.jpg');
}

.quadrado{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: lightgray;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
}

div#q1{
    background-color: aquamarine;
}

div#q2{
    background-image: linear-gradient(to bottom,yellow,red);
}

div#q3{
    background-image: url('../Imagens/pattern003.png');
}